<header class= "page-header-about">
  <h1>About us</h1>
</header>

<div class= "alert alert-info bg-light text-dark">
<p>Welcome to our company, from now on, we are going to help you to see better!</p>
</div>