<section class="products-index">
  <header class="page-header">
    <div class="intro">
      <p>
        Looking for a way to see better? What are you waiting for?
      </p>
      <p>
        At our online shop, we only sell the highest quality items and we offer free shipping on all orders over $150, so it's easy to get all you want without breaking the bank.
      </p>
      <p>
        We have a wide variety of models available for purchase on our website. 
      </p>
    </div>
  </header>
  <div class="products">
    
  </div>
</section>
